{% extends 'base.html' %}
{% load static %}

{% block css %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'css/mine/login.css' %}">
{% endblock %}
{% block content %}
    <div id="login">
        <a href="/mine/">
            <p>返回</p>
        </a>
        <div id="box">
            <form action="/login/" method="post">
            {% csrf_token %}
                <div class="input-group">
                    {{ form.username }}
                    <br/>
                    {% if error.username.0 %}
                        <span>{{ error.username.0 }}</span>
                    {% endif %}
                </div>
                <div class="input-group">
                    {{ form.passwd }}
                    <br/>
                    {% if error.passwd.0 %}
                        <span>{{ error.passwd.0 }}</span>
                    {% endif %}
                </div>
                <div><input type="submit">登录</div>
            </form>
        </div>
    </div>
{% endblock %}