{% extends 'base.html' %}
{% load static %}

{% block css %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'css/mine/login.css' %}">
{% endblock %}
{% block content %}
    <div id="login">
        <a href="/mine/">
            <p>返回</p>
        </a>
        <div id="box">
            <form action="/login/" method="post">

                <ul>
                    <li>
                        用户名 <input name="userName" type="text"/>
                    </li>
                    <li>

                        密码 <input name="userPass" type="password"/>
                    </li>
                </ul>


                <button type="submit">登录</button>
            </form>
        </div>
    </div>
{% endblock %}