{% extends 'base.html' %}
{% load static %}

{% block css %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'css/mine/login.css' %}">
{% endblock %}
{% block content %}
    <div id="login container">
        <div class="head">
            <a class="back" href="/mine/">
            <span class="glyphicon glyphicon-menu-left">

            </span>
        </a>
            <p class="text-center">登录</p>
        </div>


        <div id="box">
            <form action="/login/" method="post" class="col-sm-4">
                <ul>
                    <li>
                         <input name="username" type="text" placeholder="请输入用户名"/>
                    </li>
                    <li>
                         <input name="userpass" type="password" placeholder="请输入密码"/>
                    </li>
                </ul>
                <button type="submit">登&nbsp&nbsp录</button>
                <p class="text-center">忘记密码？&nbsp&nbsp请 <a href="#">找回密码</a></p>
            </form>
        </div>
    </div>
{% endblock %}