{% extends 'base.html' %}
{% load static %}
{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'mine/register.css' %}"/>
{% endblock %}


{% block content %}
    <div id="register container">
        <a href="/mine/">
            <p>返回</p>
        </a>
        <div id="box">
{#            {% if form.errors %}#}
{#                <p>{{ form.errors }}</p>#}
{#            {% endif %}#}
            <form action="" method="post" class="col-sm-4">
                {% csrf_token %}
                {{ form.as_p }}

                <button type="submit" class="btn btn-default">登录</button>
            </form>
        </div>
    </div>
{% endblock %}
