{% extends 'base.html' %}
{% load static %}
{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'mine/register.css' %}"/>
{% endblock %}


{% block content %}
    <div id="register container">
        <a href="/mine/">
            <p>返回</p>
        </a>
        <div id="box">
            <form action="/login/" method="post" class="col-sm-4">

                <ul>
                    <li>
                        用户名 <input class="form-control" name="username" type="text"/>
                    </li>
                    <li>

                        密码 <input class="form-control" name="userpass" type="password"/>
                    </li><li>

                        确认密码 <input class="form-control" name="userpass2" type="password"/>
                    </li>
                </ul>


                <button type="submit" class="btn btn-default">登录</button>
            </form>
        </div>
    </div>
{% endblock %}
